<h1 class="page-header">Tabs</h1>

{{#tab-set tabType="pills" fade="false"}}
    {{#tab-panel id="component" isDefaultTab="true" displayName="Component"}}
    Display Component here
    {{/tab-panel}}
    {{#tab-panel id="componentJS" displayName="Component JS"}}
    Component JS
    {{/tab-panel}}
    {{#tab-panel id="template" displayName="Template"}}
    Template goes here..
    {{/tab-panel}}
    {{#tab-panel id="data" displayName="Data"}}
    Data goes here
    {{/tab-panel}}
{{/tab-set}}
