<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Overview</h1>
This website is a showcase of some awesome web-components for Ember-JS applications. Use them freely, and customize as you want.
        </div>